{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container mt-5">
  <h3 class="mb-4 text-center">
    {% if group %}
    Edit Group: {{ group.name }}
    {% else %}
    Add New Group
    {% endif %}
  </h3>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="mb-3">
      {{ form.name.label_tag }}
      {{ form.name }}
    </div>

    <div class="container mt-5">
      <h5 class="mt-4 mb-2">Permissions by Content Type</h5>
      <div class="row mb-4">
        {% for key, data in form.permissions_by_ct.items %}
        <div style="margin-bottom:15px;" class="col-md-4">
          <strong>{{ data.ct.app_label }} → {{ data.ct.model|title }}</strong>
          <ul>
            {% for perm in data.permissions %}
            <li>
              <label>
                <input type="checkbox" name="permissions" value="{{ perm.id }}" {% if perm.checked %}checked{% endif %}>
                {{ perm.name }}
              </label>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>


    <div class="mt-3">
      <button type="submit" class="btn btn-success">Save</button>
      <a href="{% url 'group_list' %}" class="btn btn-secondary">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}