{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content_labtop %}
<li class="nav-item bg-dark mb-3 text-center">
    <a class="nav-link" href="{% url 'settings' %}">App Settings</a>
</li>
{% endblock %}
{% block content %}
{% load static %}
<div class="container mt-5">
    <h2>Dashboard</h2>

    <div class="row mb-4">
        <div class="col-md-3">
            <div class="card p-3 text-center">
                <h5>Total Users</h5>
                <h3>{{ total_users }}</h3>
            </div>
        </div>
    </div>
</div>

{% endblock %}