{% extends 'base.html' %}
{% block title %}department List{% endblock %}

{% block menu_header %}
{% include 'menu.html' %}
{% endblock %}

{% block content %} 
<h2>department List</h2>
<!-- Add department Button -->
<button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#departmentModal">
    + Add department
</button>

<!-- Add Modal -->
<div class="modal fade" id="departmentModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="{% url 'department_create' %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title">Add department</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        {{ create_form.name.label_tag }}
                        {{ create_form.name }}
                    </div> 
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for department, form in department_with_forms %}
        <tr>
            <td>{{ department.id }}</td>
            <td>{{ department.name }}</td>
            <td>
                <!-- Edit Button -->

                <button class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#editdepartment{{ department.id }}">
                    Edit
                </button>
                <a href="{% url 'department_delete' department.id %}" class="btn btn-sm btn-danger btn-delete"
                    data-name="{{ department.name }}">
                    Delete</a>
            </td>
            <div class="modal fade" id="editdepartment{{ department.id }}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form method="post" action="{% url 'department_edit' department.id %}">
                            {% csrf_token %}
                            <div class="modal-header">
                                <h5 class="modal-title">Edit department</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    {{ form.name.label_tag }}
                                    {{ form.name }}
                                </div> 
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}