{% extends "base.html" %}
{% block content %}
<h3>User Profiles</h3>
<div class="col-md-12">
    {% if user.avatar %}
    <img src="{{ user.avatar.url }}" alt="Avatar" class="rounded-circle me-2 border" width="30%"
        style="object-fit: cover;" />
    {% endif %}
    <h5 class="card-title">{{ user.username }}</h5>
    <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
    <p class="card-text"><strong>First Name:</strong> {{ user.phone }}</p>
    <p class="card-text"><strong>Last Name:</strong> {{ user.last_name }}</p>

    <h4>Active Sessions</h4>
    <div class="row">
        {% for session in user_sessions %}
        <div class="col-sm-3" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 15px; border-radius: 8px; list-style-type: none;">
            {{ session.device }} - OS: {{ session.os }} - {{ session.browser }} - IP: {{ session.ip_address }}
            (Last activity: {{ session.last_activity|date:"d-m-Y H:i:s" }})
            
            <div class="mt-2 text-end">
                <a href="{% url 'close_session' session.id %}"
                   class="btn btn-sm btn-outline-danger"
                   onclick="return confirm('Close this session?')">
                    Logout device
                </a>
            </div>
        </div>
        {% empty %}
        <li>No active sessions</li>
        {% endfor %}
    </div>
</div>
{% endblock %}